In [10]:
###MARKDOWN

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Setup url and query_url for api pulls
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"
query_url = f"{url}appid={weather_api_key}&units={units}&q="

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []
# cities = ["Paris", "London", "Oslo", "Beijing", "Mumbai", "Manila", "New York", "Seattle", "Dallas", "Taipei"]

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
# If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
total_no_cities = len(cities)
total_no_cities

625

In [3]:
# Perform a weather check on each city using a series of successive API calls.
# for city in cities:
#     response = requests.get(query_url + city).json()

# print(json.dumps(response, indent=4, sort_keys=True))

In [4]:
city_id = []
city_name = []
cloudiness = []
country = []
date = []
humidity = []
lat = []
lng = []
max_temp = []
wind_speed = []

city_number = 0
# Perform a weather check on each city using a series of successive API calls.
for city in cities:
    response = requests.get(query_url + city).json()
    city_number += 1
    try:

        print(f"City {city_number} of {total_no_cities}: {(response['name'])}")
        city_id.append(response['id'])
        city_name.append(response['name'])
        cloudiness.append(response['clouds']['all'])
        country.append(response['sys']['country'])
        date.append(response['dt'])
        humidity.append(response['main']['humidity'])
        lat.append(response['coord']['lat'])
        lng.append(response['coord']['lon'])
        max_temp.append(response['main']['temp_max'])
        wind_speed.append(response['wind']['speed'])
        
        
    except:
        print(f"City {city_number} of {total_no_cities}: Failed to retreive data. Skipping.")
        pass
  
    if city_number == 35:
        break
# Include a print log of each city as it's being processed (with the city number and city name).

City 1 of 625: Abasolo
City 2 of 625: Dikson
City 3 of 625: Cidreira
City 4 of 625: Nantucket
City 5 of 625: Pochutla
City 6 of 625: San Cristobal
City 7 of 625: Codrington
City 8 of 625: Kango
City 9 of 625: Failed to retreive data. Skipping.
City 10 of 625: Port Alfred
City 11 of 625: Kenai
City 12 of 625: Failed to retreive data. Skipping.
City 13 of 625: Cabo San Lucas
City 14 of 625: Yakeshi
City 15 of 625: Stann Creek Town
City 16 of 625: Puro
City 17 of 625: Mataura
City 18 of 625: Kapaa
City 19 of 625: Arraial do Cabo
City 20 of 625: Paita
City 21 of 625: São Filipe
City 22 of 625: Östersund
City 23 of 625: Matara
City 24 of 625: Guerrero Negro
City 25 of 625: Tasiilaq
City 26 of 625: Yerbogachën
City 27 of 625: Cheb
City 28 of 625: Cape Town
City 29 of 625: Carnarvon
City 30 of 625: Hermanus
City 31 of 625: Suriāpet
City 32 of 625: Punta Arenas
City 33 of 625: Tuktoyaktuk
City 34 of 625: Qaanaaq
City 35 of 625: Gilgit

In [8]:
# Export the city data into a .csv.
weather_dict = {'City_ID': city_id, 'City': city_name, 'Cloudiness': cloudiness,
                'Country': country, 'Date': date, 'Humidity': humidity, 'Lat': lat, 'Lon': lng,
                'Max Temp': max_temp, 'Wind Speed': wind_speed}

weather_dict

{'City_ID': [4019869,
  1507390,
  3466165,
  4944903,
  3517970,
  3628473,
  2171099,
  2400682,
  964432,
  5866063,
  3985710,
  2033536,
  3582228,
  1692364,
  6201424,
  5848280,
  3471451,
  3694112,
  3374210,
  2685750,
  1235846,
  4021858,
  3424607,
  2012956,
  3077835,
  3369157,
  2074865,
  3366880,
  1255344,
  3874787,
  6170031,
  3831208,
  1178338],
 'City': ['Abasolo',
  'Dikson',
  'Cidreira',
  'Nantucket',
  'Pochutla',
  'San Cristobal',
  'Codrington',
  'Kango',
  'Port Alfred',
  'Kenai',
  'Cabo San Lucas',
  'Yakeshi',
  'Stann Creek Town',
  'Puro',
  'Mataura',
  'Kapaa',
  'Arraial do Cabo',
  'Paita',
  'São Filipe',
  'Östersund',
  'Matara',
  'Guerrero Negro',
  'Tasiilaq',
  'Yerbogachën',
  'Cheb',
  'Cape Town',
  'Carnarvon',
  'Hermanus',
  'Suriāpet',
  'Punta Arenas',
  'Tuktoyaktuk',
  'Qaanaaq',
  'Gilgit'],
 'Cloudiness': [90,
  100,
  86,
  1,
  90,
  100,
  15,
  100,
  1,
  1,
  40,
  100,
  20,
  100,
  100,
  40,
  100,
  0,
  98,
  100,
  79,
  0,
  55,
  100,
  7,
  40,
  0,
  69,
  100,
  96,
  75,
  0,
  0],
 'Country': ['MX',
  'RU',
  'BR',
  'US',
  'MX',
  'VE',
  'AU',
  'GA',
  'ZA',
  'US',
  'MX',
  'CN',
  'BZ',
  'PH',
  'NZ',
  'US',
  'BR',
  'PE',
  'CV',
  'SE',
  'LK',
  'MX',
  'GL',
  'RU',
  'CZ',
  'ZA',
  'AU',
  'ZA',
  'IN',
  'CL',
  'CA',
  'GL',
  'PK'],
 'Date': [1596071407,
  1596071054,
  1596071137,
  1596071127,
  1596071408,
  1596070898,
  1596071108,
  1596071409,
  1596071083,
  1596071188,
  1596071029,
  1596071410,
  1596071410,
  1596071410,
  1596071049,
  1596071054,
  1596071050,
  1596071411,
  1596071123,
  1596071402,
  1596071412,
  1596071184,
  1596070984,
  1596071169,
  1596071413,
  1596070781,
  1596071103,
  1596071062,
  1596071413,
  1596071045,
  1596071063,
  1596071057,
  1596071414],
 'Humidity': [72,
  76,
  71,
  94,
  69,
  91,
  76,
  83,
  69,
  63,
  65,
  92,
  83,
  79,
  72,
  69,
  83,
  80,
  87,
  100,
  89,
  69,
  81,
  68,
  70,
  100,
  93,
  88,
  88,
  89,
  76,
  68,
  35],
 'Lat': [20.45,
  73.51,
  -30.18,
  41.28,
  15.74,
  7.77,
  -38.27,
  0.19,
  -33.59,
  60.55,
  22.89,
  49.28,
  16.97,
  12.48,
  -46.19,
  22.08,
  -22.97,
  -5.09,
  14.9,
  63.18,
  5.95,
  27.98,
  65.61,
  61.28,
  50.08,
  -33.93,
  -24.87,
  -34.42,
  17.15,
  -53.15,
  69.45,
  77.48,
  35.92],
 'Lon': [-101.52,
  80.55,
  -50.21,
  -70.1,
  -96.47,
  -72.22,
  141.97,
  10.1,
  26.89,
  -151.26,
  -109.91,
  120.73,
  -88.23,
  123.38,
  168.86,
  -159.32,
  -42.03,
  -81.11,
  -24.5,
  14.64,
  80.54,
  -114.06,
  -37.64,
  108.01,
  12.37,
  18.42,
  113.63,
  19.23,
  79.62,
  -70.92,
  -133.04,
  -69.36,
  74.31],
 'Max Temp': [20,
  9.83,
  9.18,
  22,
  26,
  19.68,
  11.87,
  22.55,
  14.71,
  21,
  29.44,
  17.81,
  29,
  28.58,
  13.13,
  28,
  21.71,
  16.94,
  25.29,
  12,
  25.46,
  22.98,
  6,
  15.81,
  13.89,
  11.67,
  13,
  13.33,
  26.18,
  3,
  13,
  5.27,
  26.19],
 'Wind Speed': [0.27,
  2.85,
  0.96,
  3.6,
  2.6,
  0.8,
  2.89,
  1.2,
  8.92,
  4.6,
  7.7,
  0.98,
  3.1,
  5.35,
  1.43,
  6.7,
  6.16,
  5.77,
  3.44,
  2.1,
  4.64,
  7.14,
  1.5,
  5.04,
  0.45,
  3.1,
  3.1,
  1.34,
  2.85,
  3.6,
  4.1,
  0.66,
  1.48]}

In [9]:
# Display the DataFrame
weather_df = pd.DataFrame(weather_dict)

# weather_df.dropna()
# weather_df.to_csv(output_data_file, index=False)
weather_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lon,Max Temp,Wind Speed
0,4019869,Abasolo,90,MX,1596071407,72,20.45,-101.52,20.00,0.27
1,1507390,Dikson,100,RU,1596071054,76,73.51,80.55,9.83,2.85
2,3466165,Cidreira,86,BR,1596071137,71,-30.18,-50.21,9.18,0.96
3,4944903,Nantucket,1,US,1596071127,94,41.28,-70.10,22.00,3.60
4,3517970,Pochutla,90,MX,1596071408,69,15.74,-96.47,26.00,2.60